.courses-wrapper {
  display: flex;
  justify-content: center;
  padding: 24px;
}


.courses-inner {
  background: #FFFFFF0F;
  border-radius: 16px;
  padding: 24px;
  width: 880px;
}

.course-iframe {
  width: 100%;
  height: 425px;
  border: none;
  margin-top: 32px;
}

.locked-wrapper {
  height: 425px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF0D;
  color: #fff;
  text-align: center;
  border-radius: 8px;
}
.locked-text{
    font-size: 18px;
    font-size: 500;
    color: #FFFFFF;
    line-height: 22px;
}
.locked-para{
    font-size: 12px;
    font-size: 400;
    color: #B9BDC7;
}

.update-btn {
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
  width: 197px;
  height: 47px;
  background: #348AF733;
  border: 1px solid #348AF7;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 4px 6px 0px #00000012;

}

.course-heading {
  color: #fff;
  margin-top: 32px;
}

.clickable {
  cursor: pointer;
}

.accordion {
  margin-top: 16px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.accordion-summary {
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-row {
  display: flex;
  align-items: center;
  margin-top: 12px;
  color: #fff;
}

.video-left-icon {
  width: 22px;
  height: 22px;
}

.video-action-icon {
  width: 28px;
  height: 28px;
}

.video-title {
  margin-left: 12px;
}

.spacer {
  flex: 1;
}
