@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&display=swap');
* {
  font-family: 'Figtree', sans-serif;
}
.courses-wrapper {
  display: flex;
  justify-content: center;
  padding: 24px;
}

.courses-inner {
  background: #FFFFFF0F;
  border-radius: 16px;
  padding: 24px;
  width: 880px;
}

/* ================= VIDEO ================= */

.course-iframe {
  width: 100%;
  height: 425px;
  border: none;
  margin-top: 32px;
}

/* ================= LOCKED STATE ================= */

.locked-wrapper {
  height: 425px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF0D;
  color: #fff;
  text-align: center;
  border-radius: 8px;
}

.locked-text {
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 22px;
}

.locked-para {
  font-size: 16px;
  font-weight: 400;
  color: #B9BDC7;
}

.update-btn {
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
  width: 197px;
  height: 47px;
  background: #348AF733;
  border: 1px solid #348AF7;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 4px 6px 0px #00000012;
}

/* ================= COURSE HEADING ================= */

.course-heading {
  color: #D0D3D9;
  margin-top: 32px;
  font-size: 24px;
  font-weight: 700;
  padding: 10px 0;
}

.clickable {
  cursor: pointer;
}

/* ================= ACCORDION ================= */

.accordion {
  margin-top: 16px;
  border-radius: 12px;
  overflow: hidden;
  text-transform: uppercase;
}

/* GREY BOX WHEN OPEN */
.accordion[open] {
  background: rgba(255, 255, 255, 0.04);
}

/* SUMMARY HEADER */
.accordion-summary {
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  padding: 14px 16px;
}

/* DARKER HEADER WHEN OPEN */


/* DETAILS CONTENT */
.accordion-details {
  font-size: 16px;
  font-weight: 400;
  padding: 6px 16px 16px;
}

/* REMOVE DEFAULT SUMMARY ARROW */
summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

/* ================= VIDEO ROW ================= */

.video-row {
  display: flex;
  align-items: center;
  margin-top: 12px;
  color: #fff;
  padding: 4px 4px;
  border-radius: 8px;
  transition: background 0.2s ease;
}

.video-row.clickable:hover {
  background: rgba(255, 255, 255, 0.04);
}


.video-left-icon {
  width: 40px;
  height: 40px;
}

.video-action-icon {
  width: 28px;
  height: 28px;
}

.video-title {
  margin-left: 12px;
}

.spacer {
  flex: 1;
}

/* ================= EXPAND ICONS ================= */

/* Default: show DOWN arrow */
.expand-icons .icon-up {
  display: none;
}

/* When accordion is OPEN */
details[open] .expand-icons .icon-down {
  display: none;
}

details[open] .expand-icons .icon-up {
  display: inline-block;
}

.expand-icons img {
  width: 16px;
  transition: transform 0.3s ease;
}
