body {
  font-family: 'Figtree', sans-serif;
}
.section-features:before {
  content: '';
  background: radial-gradient(
    50% 96000.02% at 50% 50%,
    #0993fd 0,
    #1847b3 33%,
    rgba(17, 81, 200, 0.723813) 51.5%,
    rgba(0, 107, 255, 0) 100%
  );
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
}
.section-features {
  position: relative;
  padding: 62px 0;
  background: #030511;
}
.section-features:before {
  bottom: auto;
  top: 0;
}

.mb-85 {
  margin-bottom: 85px;
}


.features-content {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.features-badge {
  display: inline-block;
  margin-bottom: 36px;
  padding: 8px 16px 8px 16px;
  border-radius: 50px;

  /* background: #51A2FF @ 13% */
  background: rgba(81, 162, 255, 0.13);
  backdrop-filter: blur(12px) saturate(160%);
  -webkit-backdrop-filter: blur(12px) saturate(160%);

  /* required for border-image */
  border: 1px solid #2850959a;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}



/* Grey paragraph text */
.features-description {
  font-size: 25px;
  line-height: 42px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 22px;
}




 @media (max-width: 767px) {
  .features-badge {
    font-size: 13px;
    padding: 8px 16px;
  }

  .features-highlight {
    font-size: 16px;
  }

  .features-description {
    font-size: 15px;
  }
}
