:root {
  --white: #ffffff;
  --black: #212429;
  --AnekBangla: 'Anek Bangla', sans-serif;
  --Poppins: 'Poppins', sans-serif;
  --Inter: 'Inter', sans-serif;
  --Montserrat: 'Montserrat', sans-serif;
  --Oswald: 'Oswald', sans-serif;
  --PublicSans: 'Public Sans', sans-serif;
   --font-figtree: 'Figtree', sans-serif;
  --Figtree: 'Figtree', sans-serif;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0px;
  font-family: 'Figtree', sans-serif !important;
}
img {
  max-width: 100%;
}
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a,
button {
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
em,
img,
small,
strike,
strong,
var,
b,
u,
i,
center,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
section,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  overflow-x: hidden;
  background-color: #0d1117;
}
ol,
ul {
  list-style: none;
}
.white {
  color: var(--white);
}
.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #047efc 0%, #12488f 100%);
  border-radius: 11px;
  font-family: var(--font-figtree);
  font-weight: 700;
  color: #f3f3f3;
}
.btn-primary:hover,
.btn-secondary:hover {
  opacity: 0.8;
  background-color: rgba(249, 250, 251, 0.08);
}
.btn-secondary {
  width: 100%;
   font-family: var(--font-figtree);
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: capitalize;
  color: #ffffff;
  padding: 8px 20px;
  border: none;
  background: linear-gradient(180deg, #047efc 0%, #12488f 100%);
  border-radius: 8px;
  cursor: pointer;
}
.btn-lg {
  padding: 25.3793px 95.35px 25.3793px 95.33px;
  font-size: 20.8px;
  line-height: 20px;
  max-width: 520px;
  margin: 0 auto;
}
.mx-auto {
  margin: auto;
}
.d-flex {
  display: flex;
}
.d-grid {
  display: grid;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-end {
  align-items: flex-end;
}
.align-items-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.pl-2 {
  padding-left: 35px;
}
.pr-2 {
  padding-right: 35px;
}
.pl-5 {
  padding-left: 105px;
}
.pr-5 {
  padding-right: 105px;
}
.text-center {
  text-align: center;
}
.hide-desk {
  display: none;
}
.container {
  max-width: 1200px;
  margin: auto;
}
@media (max-width: 767px) {
  .hide-mob {
    display: none;
  }
  .pr-5 {
    padding-right: 20px;
  }
  .pl-5 {
    padding-left: 20px;
  }
  .show-mob {
    display: block;
  }
  .pr-2 {
    padding-right: 20px;
  }
  .pl-2 {
    padding-left: 20px;
  }
  .flex-wrap-mob {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .wistia_embed  img.w-css-reset{
    background-color: #0d1118 !important;
  }
}
