.section-price {
  padding: 120px 0;
  background: #090b15;
  position: relative;
}

.section-price::before {
  content: '';
  background: radial-gradient(50% 40.02% at 50% 50%, #0993fd9c 0, #1847b3 33%, rgba(17, 81, 200, 0.723813) 51.5%, rgba(0, 107, 255, 0) 100%);
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  bottom: auto;
  top: 0;
}

.price-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 32px;
  max-width: 1276px;
  margin: 0 auto;
  padding: 0 24px;
}


.price-card {
  /* background: #1c2128; */
  /* border-radius: 24px; */
  padding: 12px 12px 24px 12px;
  max-width: 404px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  height: 100%;

  box-shadow:
    inset 7px 4px 26px 0px rgba(255, 255, 255, 0.09),
    /* #FFFFFF17 */
    0px 8.91px 14.3px 0px rgba(0, 0, 0, 0.25);
  /* #00000040 */

  border-radius: 28px;
  background: linear-gradient(166deg, #3A3C43 0%, #11131C 15.61%, #11131C 100%);
  box-shadow: 0 8.911px 14.296px 0 rgba(0, 0, 0, 0.25), 7px 4px 26px 0 rgba(255, 255, 255, 0.09) inset;
}

/* INNER BLACK BOX */
.price-inner {
  position: relative;
   max-width: 380px;
  width: 100%;

  background: rgba(0, 0, 0, 0.3);
  /* #0000004D = 30% */
  border: 1px solid rgba(255, 255, 255, 0.1);
  /* #FFFFFF1A = 10% */

  border-radius: 24px;
  padding: 24px;

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}


.program-title {
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 100%;
  margin-bottom: 12px;
}
.is-featured .program-title {
  margin-bottom: 0;
}
.is-featured .program-headers {
  margin-bottom: 10px;
}

.program-desc {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  color: #F0F1F3;
  margin-bottom: 32px;
}

.program-price {
  font-size: 36px;
  font-weight: 600;
  line-height: 100%;
  color: #FFFFFF;
  margin-bottom: 6px;
}

.program-note {
  font-size: 16px;
  font-weight: 400;
  color: #D0D3D9;
  letter-spacing: -0.6px;
  margin-bottom: 20px;
}

.program-btn {
  /* margin-top: 10px; */
  width: 100%;
  padding: 14px;
  border-radius: 50px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid #348AF7;
  background: rgba(52, 138, 247, 0.20);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.07);
  font-family: 'Figtree', sans-serif;
}

.program-btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 12px 30px rgba(12, 83, 200, 0.45), inset 0 1px 0 rgba(255, 255, 255, 0.35);
}

/* INCLUDES */
.program-includes {
  margin-top: 24px;
  padding-left: 16px;
}

.program-includes h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 12px;
}

.program-includes ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.program-includes li {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  margin-bottom: 0;
  padding: 6px 0;
  font-weight: 100;
}

.program-includes li.active {
  color: #F0F1F3;
}

.program-includes li.inactive img {
  opacity: 0.26;
}


/* inactive text stays same color */
.program-includes li.inactive .include-text {
  position: relative;
}

/* white cut line ONLY on text */
.program-includes li.inactive .include-text::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 1px;
  background: rgb(255, 255, 255);
  transform: translateY(-50%);
}

.program-includes li.inactive svg {
  color: #374151;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .price-grid {
    grid-template-columns: 1fr;
    padding: 0;
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .section-price{
    padding: 60px 24px;
  }

  .program-title {
    font-size: 20px !important;
  }

  .program-desc {
    font-size: 14px !important;
    line-height: 1.5;
  }

  .price-inner {
    padding: 16px !important;
    border-radius: 20px;
  }

  .price-amount {
    font-size: 28px !important;
    /* BIG number */
    font-weight: 600;
    color: #ffffff;
  }

  .program-btn {
    font-size: 14px !important;
    padding: 10px !important;
  }

  .best-value-badge {
    font-size: 10px !important;
    /* margin-bottom: 10px !important; */
    position: absolute;
    /* top: 14px !important; */
  }

  .program-includes li {
    /* margin-bottom: 2px !important; */
    font-size: 14px;
  }
  .program-includes li img{
    width: 18px;
  }
  .program-headers {

    align-items: flex-start;
    gap: 8px;
  }

  .best-value-badge {
    position: static; 
    /* margin-bottom: 8px; */
  }
}


.program-price {
  display: flex;
  align-items: baseline;
  gap: 0px;
  margin: 20px 0 3px;
}

.price-amount {
  font-size: 36px;
  /* BIG number */
  font-weight: 600;
  color: #ffffff;
}

.price-period {
  font-size: 18px;
  font-weight: 500;
  color: #D0D3D9;
}
.program-headers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.best-value-badge {
   padding: 6px 10px 6px 10px ;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  /* margin-bottom: 13px; */

  /* background: rgba(0, 122, 255, 0.12);
  border: 1px solid rgba(0, 122, 255, 0.35);
  border-radius: 999px; */

  border-radius: 20px;
  line-height: 15px;
  border: 1px solid #348AF7;
  background: rgba(52, 138, 247, 0.20);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.07);

}
.price-card.is-featured {
  position: relative;
  overflow: hidden;
}


.price-card.is-featured>* {
  position: relative;
  z-index: 1;
}
.price-card.is-featured {
  background: url('../../../assets/feature-bg-price.png') no-repeat center center;
  background-size: cover;
}

@media (max-width: 768px) {
  .program-price {
    margin-bottom: 0px;
  }
  .program-includes h4{
    margin-bottom: 8px;
  }
  .program-includes{
    margin-top: 12px;
  }
  .price-card{
    padding: 12px;
    border-radius: 24px;
    
  }
  .program-includes{
    padding-right: 16px;
  }
   .best-value-badge {
    line-height: 10px;
  
  }
}
