/* .packages-page {
  width: 100%;
  background: #0d1117;
}

.packages-page-desktop {
  height: 100%;
}

.packages-page-mobile {
  height: max-content;
} */

.program-includes li{
    /* line-height: 24px; */
}


