body {
  font-family: 'Figtree', sans-serif;
}

.terms-condition {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  background: radial-gradient(60% 40% at 50% 0%, #007aff2b 0%, #007aff2e 25%, rgba(3, 5, 17, 0) 60%), #030511;
  height: 1660px;
}
.terms-heading{
    font-size: 48px;
    font-weight: 600;
    line-height: 42px;
    margin-top: 100px;
    padding: 50px;
    text-align: center;
}
.terms-content{
    background-color: #02040C;
}
.terms-main{
    padding: 80px 240px;
    font-size: 22px;
    line-height: 24px;
    font-weight: 500;
    color: #FFFFFF;
}
.T-Heading{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}
.T-Answer{
    margin-top: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #B6BCC8;
}