@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&display=swap');
* {
  font-family: 'Figtree', sans-serif;
}

.lock-paper {
  position: fixed;
  inset: 0;
  background: rgba(9, 11, 21, 1);
  
  backdrop-filter: blur(12px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1300;
}

.lock-gradient-box {
  position: relative;
  isolation: isolate;
  width: 411px;
  border-radius: 16px;
  background: rgba(18, 20, 30, 1);
  box-shadow: 0 30px 80px rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

.lock-gradient-box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  z-index: -1;

  /* Gradient only top-left */
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.08) 0%,
    rgba(255, 255, 255, 0.08) 25%,
    rgba(255, 255, 255, 0.08) 45%,
    transparent 60%
  );

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  pointer-events: none;

}


.lock-content {
  
  color: #e5e7eb;
}

/* HEADER */
.lock-header {
  display: flex;
  padding: 16px 20px;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}

.lock-close {
  background: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

/* DIVIDER */
.lock-divider {
  height: 1px;
  background: rgba(255, 255, 255, 0.08);

}

/* ICON */
.lock-icon-box {
  width: 56px;
  height: 56px;
  margin: 0 auto;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(59, 130, 246, 0.25),
    rgba(2, 6, 23, 1)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.lock-icon-box svg {
  color: #3b82f6;
  font-size: 28px;
}
.membership{
  padding: 24px;
}

/* TEXT */
.lock-title {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-top: 16px;
  color: #ffffff;
}

.lock-subtitle {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #B9BDC7;
  margin-top: 8px;
}

/* FOOTER */
.lock-footer {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  padding: 16px 24px;
  background: rgba(255, 255, 255, 0.02);
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 0 0 16px 16px;
}


/* BUTTONS */
.lock-logout {
  flex: 1;
  height: 40px;
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 98px;
  color: #d1d5db;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 4px 6px;
}

.lock-unlock {
  font-size: 16px;
  font-weight: 500;
  flex: 1;
  height: 40px;
  border-radius: 42px;
  background: linear-gradient(180deg, rgba(0, 122, 255, 1), rgba(12, 83, 200, 1));
  border: none;
  padding: 17px 20px;
}

.lock-unlock a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #fff;
  text-decoration: none;
}
