@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&display=swap');
* {
  font-family: 'Figtree', sans-serif;
}

.dashboard {
  display: flex;
  min-height: 100vh;
  background: #0b0f1a; 
}

/* Right side content */
.dashboard-content {
  flex: 1; /* takes remaining space */
  padding: 32px;
  background: #0b0f1a; /* IMPORTANT */
  color: #ffffff;
}
