@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&display=swap');
* {
  font-family: 'Figtree', sans-serif;
}
.side-navbar {
  width: 320px;               
  height: 100vh;
  background: #ffffff05;
  border-right: 1px solid #ffffff1f;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* Header */
.nav-header {
  display: flex;
  align-items: center;
  gap: 12px;
  border-bottom: 1px solid #ffffff1f;
  padding-left: 20px;
}

.logo {
  width: 31.43px;
  height: 32px;
}
.nav-header p{
    font-size: 20px;
    font-weight: 700;
}
.company-name span{
    font-size: 20px;
    font-weight: 400;
}
.main-container{
    padding: 20px 20px;
}

/* Section */
.section-title {
  font-size: 12px;
  font-weight: 400;
  color: #626263;
  margin-bottom: 12px;
}

/* Menu */
.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 12px;
  border: none;
  background: transparent;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  transition: background 0.2s ease;
}

.nav-item:hover {
   background: #ffffff12;
  border: 1px solid #2b2f38;

  /* INNER SHADOW */
  box-shadow: inset 0 2px 4px #ffffff1a;

  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.icon {
  font-size: 18px;
}

/* Logout */
.logout-btn {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 12px;
  border: none;
  background: transparent;
  color: #f04438;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 8px;
  padding: 20px 20px;
  
}

.logout-btn:hover {
    background: #ffffff12;
  border: 1px solid #2b2f38;

  /* INNER SHADOW */
  box-shadow: inset 0 2px 4px #ffffff1a;

  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}


/* Active menu item */
.nav-item.active {
  background: #ffffff12;
  border: 1px solid #2b2f38;

  /* INNER SHADOW */
  box-shadow: inset 0 2px 4px #ffffff1a;

  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  
}
